.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 3rem;
  }

  &__currency-list {
    left: 0;
    top: 6.5rem;
    width: 100%;
    background-color: var(--clr-default-500);
  }

  &__buyers {
    position: relative;

    &-list {
      left: 0;
      top: 4rem;
      width: max-content;
      max-width: 20rem;
      background-color: var(--clr-primary-600);
    }

    &-item {
      display: flex;
      align-items: center;
      border-bottom: 0.1rem solid var(--clr-default-300);
      padding-bottom: 1rem;

      a {
        width: 100%;
        color: var(--clr-primary-300);
        transition: color var(--transition);
      }

      svg {
        position: absolute;
        right: 1rem;
        width: 1rem;
        height: 1rem;
        fill: var(--clr-primary-300);
        transition: fill var(--transition);
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-link {
      @media (hover) {
        &:hover {
          color: var(--clr-default-100);
          transition: color var(--transition);
        }
      }
    }
  }

  &__buyers--button {
    font-size: 1.6rem;
    color: var(--clr-default-100);

    svg {
      margin-left: 1rem;
    }
  }

  &__vendor {
    position: relative;

    &-button {
      svg {
        margin-left: 1rem;
      }
    }
  }

  &__vendor-button,
  &__currency-button {
    font-size: 1.6rem;
    color: var(--clr-default-100);
  }

  &__currency {
    position: relative;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid var(--clr-default-300);
      border-radius: 0.4rem;
      min-width: 10rem;
      min-height: 5rem;
      font-weight: 700;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: var(--clr-default-100);

      @media (max-width: em(992)) {
        justify-content: space-between;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        min-width: 100%;
      }

      svg {
        margin-left: 2rem;
      }
    }
  }

  &__currency-list,
  &__buyers-list {
    position: absolute;
    border: 0.1rem solid var(--clr-primary-600);
    border-radius: 0.4rem;
    padding: 1.2rem;
    z-index: -1;
    opacity: 0;
    visibility: visible;
    transition: z-index 0.6s, opacity 0.6s, visibility 0.6s;
  }

  &__item:focus &__buyers-list,
  &__item:focus &__currency-list,
  &__item:hover &__buyers-list,
  &__item:hover &__currency-list {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transition: z-index 0.1s, opacity var(--transition) 0.1s, visibility var(--transition) 0.1s;
  }

  &__buyers--button,
  &__currency-button,
  &__vendor-button {
    cursor: pointer;
    svg {
      width: 1rem;
      height: 0.6rem;
      fill: var(--clr-primary-300);
      transition: fill var(--transition), transform var(--transition);
    }
  }

  &__item:focus &__buyers--button,
  &__item:hover &__buyers--button,
  &__item:hover &__currency-button,
  &__item:focus &__currency-button,
  &__item:focus &__vendor-button,
  &__item:hover &__vendor-button {
    svg {
      fill: var(--clr-primary-500);
      transform: translateY(-50%) rotate(-180deg);
      transition: fill var(--transition), transform var(--transition);
    }
  }

  &__currency-btn {
    border-radius: 0.6rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    min-width: 100%;
    min-height: 4.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--clr-default-100);
    transition: color var(--transition), background-color var(--transition);

    &:hover {
      color: var(--clr-primary-600);
      background-color: var(--clr-primary-500);
      transition: color var(--transition), background-color var(--transition);
    }
  }

  @media (max-width: em(767)) {
    margin-right: 2rem;
  }

  @media (max-width: em(767)) {
    display: none;
  }
}
